*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #dcdde1;
  font-family: $font-text;
  font-size: 14px;
  line-height: 1.7;
  font-weight: $font-normal;
  color: $color-dark;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}

.terms {
  display: flex;
  justify-content: flex-end;

  a {
    color: #22a6b3;
  }

  p {
    text-decoration: none;
  }


  .fa-readme {
    margin-left: 10px;
    font-size: 15px;
  }
}

