.header {
  padding: ($base-size * 5) 0 ($base-size * 8) 0;
  background: #353b48;
  color: $color-light;

  &__wrapper {
    position: relative;
    margin-bottom: 42px;
  }

}

.logo {
  display: inline-block;
  line-height: 1;

  &__title {
    margin: 0 0 $base-size 0;
    font-size: ($base-size * 4);
    font-family: $font-header;
    font-weight: $font-light;
    text-transform: uppercase;

    span {
      font-weight: $font-bold;
    }

  }

  &__subtitle {
    margin: 0;
    font-size: ($base-size * 1.5);

    font-style: italic;
  }
}

.homepage a {
  color: #ffffff;
  font-size: 15px;
  font-family: $font-header;
  text-decoration: none;
  list-style: none;
}

.homepage {
  margin-bottom: 30px;
}
